        <!-- Common Header Start -->
        <header class="xz-header navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".xz-navbar" aria-controls="xz-navbar" aria-expanded="false">
                        <span class="sr-only">切换导航条</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="xz-navimage navbar-brand" title="Xzonn 的小站"><img src="{{ site.cdnpath }}/images/icon_32x32.png" alt="Xzonn 的小站" width="32" height="32"/></a>
                    <a href="./" class="navbar-brand">路易吉洋馆专题站</a>
                </div>
                <nav class="xz-navbar collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="./Maps.html">洋馆地图</a></li>
                        <li><a href="./Area-1.html">流程攻略</a></li>
                        <li><a href="./Achievements.html">成就一览</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li><a href="./PortraitGhosts.html">绘画鬼怪一览</a></li>
                        <li><a href="./Boos.html">害羞幽灵一览</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Common Header End -->