<div class="mapFull" data-image="55b4ecd58fee25bc6a8f551b45691bae.png" data-width="604" data-height="454" data-display="{{ include.display }}" data-highlight="{{ include.highlight }}" data-code-only="{{ include.codeOnly }}" data-highlight-only="{{ include.highlightOnly }}">
    <a class="map" data-x="4" data-y="4" data-width="88" data-height="148" data-name-chs="墓地"></a>
    <a class="map" data-x="94" data-y="4" data-width="506" data-height="48" data-name-chs="后院·井下"></a>
    <a class="map" data-x="94" data-y="54" data-width="52" data-height="58" data-name-chs="浴室"></a>
    <a class="map" data-x="198" data-y="54" data-width="190" data-height="58" data-name-chs="音乐室"></a>
    <a class="map" data-x="390" data-y="54" data-width="210" data-height="58" data-name-chs="健身房"></a>
    <a class="map" data-x="94" data-y="114" data-width="52" data-height="38" data-name-chs="卫生间"></a>
    <a class="map" data-x="4" data-y="154" data-width="88" data-height="108" data-name-chs="后屋空地"></a>
    <a class="map" data-x="94" data-y="154" data-width="126" data-height="108" data-name-chs="娱乐室"></a>
    <a class="map" data-x="222" data-y="154" data-width="116" data-height="108" data-name-chs="放映室"></a>
    <a class="map" data-x="390" data-y="154" data-width="210" data-height="58" data-name-chs="仓库"></a>
    <a class="map" data-x="390" data-y="214" data-width="210" data-height="124" data-name-chs="舞厅"></a>
    <a class="map" data-x="4" data-y="264" data-width="150" data-height="74" data-name-chs="厨房"></a>
    <a class="map" data-x="156" data-y="264" data-width="182" data-height="74" data-name-chs="餐厅"></a>
    <a class="map" data-x="4" data-y="340" data-width="88" data-height="46" data-name-chs="洗衣房"></a>
    <a class="map" data-x="4" data-y="388" data-width="88" data-height="62" data-name-chs="休息室"></a>
    <a class="map" data-x="94" data-y="388" data-width="116" data-height="62" data-name-chs="隐藏房间"></a>
    <a class="map" data-x="340" data-y="388" data-width="134" data-height="62" data-name-chs="占卜房间"></a>
    <a class="map" data-x="476" data-y="388" data-width="124" data-height="62" data-name-chs="镜之房间"></a>
    <a class="map" data-x="212" data-y="406" data-width="126" data-height="44" data-name-chs="入口"></a>
</div>