<div class="mapFull" data-image="https://file.moetu.org/images/2020/05/16/f340fa8b5daa86e6c2f8949eefbd66bd21368b8aa585282b.png" data-width="604" data-height="404" data-display="{{ include.display }}" data-highlight="{{ include.highlight }}" data-code-only="{{ include.codeOnly }}" data-highlight-only="{{ include.highlightOnly }}">
    <a class="map" data-x="94" data-y="4" data-width="52" data-height="58" data-name-chs="浴室"></a>
    <a class="map" data-x="198" data-y="4" data-width="190" data-height="58" data-name-chs="祖父母的房间"></a>
    <a class="map" data-x="390" data-y="4" data-width="210" data-height="58" data-name-chs="茶室"></a>
    <a class="map" data-x="94" data-y="64" data-width="52" data-height="38" data-name-chs="卫生间"></a>
    <a class="map" data-x="54" data-y="104" data-width="38" data-height="58" data-name-chs="阳台"></a>
    <a class="map" data-x="94" data-y="104" data-width="116" data-height="58" data-name-chs="衣物室"></a>
    <a class="map" data-x="212" data-y="104" data-width="126" data-height="58" data-name-chs="休息室"></a>
    <a class="map" data-x="390" data-y="104" data-width="104" data-height="58" data-name-chs="回忆房间"></a>
    <a class="map" data-x="496" data-y="104" data-width="104" data-height="58" data-name-chs="幻想房间"></a>
    <a class="map" data-x="4" data-y="164" data-width="88" data-height="124" data-name-chs="父母卧室"></a>
    <a class="map" data-x="94" data-y="164" data-width="116" data-height="124" data-name-chs="书房"></a>
    <a class="map" data-x="212" data-y="164" data-width="126" data-height="124" data-name-chs="客厅"></a>
    <a class="map" data-x="390" data-y="164" data-width="210" data-height="124" data-name-chs="不开放之间"></a>
    <a class="map" data-x="4" data-y="338" data-width="88" data-height="62" data-name-chs="婴儿房间"></a>
    <a class="map" data-x="94" data-y="338" data-width="116" data-height="62" data-name-chs="儿童房间"></a>
    <a class="map" data-x="340" data-y="338" data-width="134" data-height="62" data-name-chs="访客室"></a>
    <a class="map" data-x="476" data-y="338" data-width="124" data-height="62" data-name-chs="访客卧室"></a>
    <a class="map" data-x="212" data-y="356" data-width="126" data-height="44" data-name-chs="入口"></a>
</div>