<div class="mapFull" data-image="./images/map-B1F.png" data-width="306" data-height="444" data-display="{{ include.display }}" data-highlight="{{ include.highlight }}" data-code-only="{{ include.codeOnly }}" data-highlight-only="{{ include.highlightOnly }}">
    <a class="map" data-x="94" data-y="4" data-width="116" data-height="88" data-name-chs="秘密祭坛"></a>
    <a class="map" data-x="4" data-y="220" data-width="120" data-height="88" data-name-chs="管道室"></a>
    <a class="map" data-x="180" data-y="220" data-width="122" data-height="88" data-name-chs="配电室"></a>
    <a class="map" data-x="4" data-y="310" data-width="120" data-height="130" data-name-chs="冷冻室"></a>
    <a class="map" data-x="180" data-y="350" data-width="122" data-height="90" data-name-chs="地下仓库"></a>
</div>