<div class="mapFull" data-image="a8714105eb5ef179b1b2aa5b6f06e7c1.png" data-width="604" data-height="384" data-display="{{ include.display }}" data-highlight="{{ include.highlight }}" data-code-only="{{ include.codeOnly }}" data-highlight-only="{{ include.highlightOnly }}">
    <a class="map" data-x="82" data-y="4" data-width="518" data-height="158" data-name-chs="阳台"></a>
    <a class="map" data-x="4" data-y="164" data-width="118" data-height="106" data-name-chs="陶瓷作坊"></a>
    <a class="map" data-x="166" data-y="164" data-width="216" data-height="106" data-name-chs="机关房间"></a>
    <a class="map" data-x="426" data-y="164" data-width="174" data-height="106" data-name-chs="画室"></a>
    <a class="map" data-x="4" data-y="272" data-width="118" data-height="108" data-name-chs="盔甲房间"></a>
    <a class="map" data-x="166" data-y="272" data-width="216" data-height="108" data-name-chs="电话房间"></a>
    <a class="map" data-x="426" data-y="312" data-width="174" data-height="68" data-name-chs="展示房间"></a>
</div>
