<table class="table infoTable">
    <thead>
        <tr><th class="infoTableTitle" colspan="2">{{ include.name }}</th></tr>
        <tr>
            <th class="infoTableSubTitle" colspan="2">
                <div lang="ja">{{ include.ja }}</div>
                <div lang="en"><em>{{ include.en }}</em></div>
            </th>
        </tr>
    </thead>
    <tbody>{% if include.image %}
        <tr><td class="infoTableImage" colspan="2"><img src="{{ include.image }}" alt="include.name"></td></tr>{% endif %}{% if include.ghost %}
        <tr><th>普通鬼怪</th><td>{{ include.ghost }}</td></tr>{% endif %}{% if include.portrait %}
        <tr><th>绘画鬼怪</th><td>{{ include.portrait }}</td></tr>{% endif %}{% if include.boo %}
        <tr><th><a href="Boos.html">害羞幽灵</a></th><td>{{ include.boo }}</td></tr>{% endif %}{% if include.item %}
        <tr><th>特殊物品</th><td class="roomItem" data-item="{{ include.item }}"></td></tr>{% endif %}
    </tbody>
</table>