body {
    overflow-x: hidden;
    background-image: url(https://luigismansion.nintendo.com/assets/img/common/pattern-noise.jpg);
}

#content {
    position: relative;
    margin-top: 50px;
    color: #000;
}

#journalTitleBox {
    position: relative;
    margin-bottom: 50px;
    color: #493421;
}

#journalTitleBorderBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    margin: auto;
    width: 100%;
    height: 100%;
    perspective: 500px;
}

#journalTitleBorder {
    width: 100%;
    height: 100%;
    border: 15px solid rgba(100, 42, 0, 0.625);
    transform: rotateX(-7deg) rotateY(-3deg) rotateZ(0.5deg) skewY(-1deg) translate3d(-3%, 3%, -20px);
}

#journalTitleBorder::after {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    z-index: -100;
    border: 3px solid rgba(100,42,0,0.625);
    background-image: url(https://luigismansion.nintendo.com/assets/img/journal/silhouette-1-2x.png);
    background-position: 99% 64%;
    background-size: 351px auto;
    background-repeat: no-repeat;
    content: '';
}

#journalTitle {
    padding: 2em 0;
    text-align: center;
}

#journalTitleLine1 {
    font-size: 30px;
    line-height: 1.6em;
}

#journalTitleLine2 {
    font-size: 60px;
    line-height: 1.6em;
}

#journalTitleBox::before {
    position: absolute;
    bottom: calc(-386px * 0.1);
    left: 0;
    z-index: 100;
    display: block;
    width: calc(291px * 0.8);
    height: calc(386px * 0.8);
    background-image: url(https://luigismansion.nintendo.com/assets/img/characters/professor-2x.png);
    background-size: 100% 100%;
    content: "";
}

#journalTitleBox::after {
    position: absolute;
    top: calc(-274px * 0.25);
    right: 0;
    z-index: 100;
    display: block;
    width: calc(289px * 0.8);
    height: calc(274px * 0.8);
    background-image: url(https://luigismansion.nintendo.com/assets/img/journal/goo-element-2x.png);
    background-size: 100% 100%;
    content: "";
}

.journalGlow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -200;
    width: 150%;
    height: 160%;
    background-image: radial-gradient(closest-side, rgba(255,255,255,0.45) 60%, rgba(255,255,255,0) 100%);
    opacity: 1;
    transition: opacity 1s;
    transform: translate(-50%, -50%);
}

#journalNavigationBox {
    display: flex;
    list-style-type: none;
    text-align: center;
    transform-style: preserve-3d;
    flex-wrap: wrap;
    justify-content: center;
}

.journalNavigationItem {
    position: relative;
    margin: 5px;
    flex: 0 1 210px;
    perspective: 300px;
}

.journalNavigationItemLink::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    content: '';
    transition: all 0.3s ease-out;
}

.journalNavigationItem:nth-child(2n) .journalNavigationItemLink::before {
    transform: rotateX(25deg) skewY(2deg);
}

.journalNavigationItem:nth-child(2n+1) .journalNavigationItemLink::before {
    transform: rotateX(-25deg) skewY(-2deg);
}

.journalNavigationItemLink:hover::before, .journalNavigationItemLinkActive::before {
    border: 4px solid #408302;
    background-image: linear-gradient(0deg, #94d151 0%, #bafc6b 100%);
}

.journalNavigationItemLink {
    display: block;
    margin: 0.5em auto;
    color: #4a3520;
}

.journalNavigationItemLink[href]:hover {
    color: #448316;
    text-decoration: none;
}

#journalSubTitleBlock {
    position: relative;
    margin-bottom: 37px;
    padding-bottom: 6px;
    border-bottom: 10px solid #956c49;
    color: #493421;
}

#journalSubTitle {
    margin-bottom: 0;
    font-size: 32px;
}

#journalSubTitleBlock::after {
    position: absolute;
    bottom: 3px;
    display: block;
    width: 100%;
    border-bottom: 3px solid #956c49;
    content: '';
}

#journalOriginalLinkList {
    position: absolute;
    right: 0;
    bottom: 6px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#journalOriginalLinkList::before {
    content: '[ 原文：';
}

#journalOriginalLinkList::after {
    content: ' ]';
}

.journalOriginalLinkItem {
    display: inline-block;
}

.journalOriginalLinkItem::after {
    content: ' | ';
}

.journalOriginalLinkItem:last-child::after {
    content: '';
}

#journalIntroduction {
    position: absolute;
    bottom: -37px;
    overflow-x: auto;
    width: 100%;
    color: #888;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
}

.journalContentBox {
    position: relative;
    margin: 40px 5%;
}

.journalContentBox:after {
    clear: both;
    display: block;
    content: '';
}

.journalContent {
    position: relative;
    margin: 0;
    padding: 2px 12px;
    background-image: url(./images/journalLine.png);
    background-position: 2px 2px;
    font-size: 20px;
    line-height: 72px;
}

.journalContentImage {
    display: block;
}

.journalContentLeft, .journalContentImageLeft {
    float: left;
}

.journalContentRight, .journalContentImageRight {
    float: right;
}

.journalContentLeft, .journalContentImageLeft, .journalContentRight, .journalContentImageRight {
    width: 45%;
}

.journalContentFull, .journalContentImageFull {
    width: 90%;
    margin: 40px 5%;
}

.journalContentSubImage {
    position: absolute;
    bottom: -20px;
    z-index: -100;
    width: 40%;
}

.journalContentSubImageLeft {
    left: 5%;
}

.journalContentSubImageRight {
    right: 5%;
}

p {
    margin: 0;
    text-align: justify;
}

#journalBackgroundElementBlock {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -100;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    transform: translateX(-50%);
    pointer-events: none;
}

.journalBackgroundElement {
    position: absolute;
}

.journalBackgroundElement--1 {
    top: 185px;
    left: -35px;
    width: 970px;
    height: 1206px;
}

.journalBackgroundElement--2 {
    top: 70px;
    left: -261px;
    width: 472px;
    height: 491px;
}

.journalBackgroundElement--3 {
    top: -9px;
    right: -263px;
    width: 481px;
    height: 516px;
    transform: rotateY(180deg) rotate(-5deg);
}

.journalBackgroundElement--4 {
    top: 426px;
    left: -24px;
    width: 298px;
    height: 170px;
}

.journalBackgroundElement--5 {
    top: 468px;
    right: 43px;
    width: 172px;
    height: 160px;
    transform: rotate(11deg);
}

.journalBackgroundElement--6 {
    top: 14%;
    left: -217px;
    width: 481px;
    height: 516px;
    transform: rotateY(180deg) rotate(1deg);
}

.journalBackgroundElement--7 {
    top: 16%;
    right: -137px;
    width: 445px;
    height: 575px;
}

.journalBackgroundElement--8 {
    top: 17.5%;
    right: -250px;
    width: 714px;
    height: 713px;
}

.journalBackgroundElement--9 {
    top: 19.2%;
    right: -37px;
    width: 276px;
    height: 133px;
    transform: rotate(-15deg);
}

.journalBackgroundElement--10 {
    top: 29.3%;
    left: 0px;
    width: 218px;
    height: 161px;
}

.journalBackgroundElement--11 {
    top: 27%;
    left: -445px;
    width: 481px;
    height: 516px;
}

.journalBackgroundElement--12 {
    top: 34.7%;
    right: -380px;
    width: 588px;
    height: 613px;
}

.journalBackgroundElement--13 {
    top: 39.5%;
    left: 0px;
    width: 233px;
    height: 104px;
}

.journalBackgroundElement--14 {
    top: 40.3%;
    left: -520px;
    width: 713px;
    height: 720px;
    transform: rotate(31deg);
}

.journalBackgroundElement--15 {
    top: 45.2%;
    left: -250px;
    width: 714px;
    height: 713px;
}

.journalBackgroundElement--16 {
    top: 50.5%;
    right: 80px;
    width: 172px;
    height: 160px;
    transform: rotate(12deg);
}

.journalBackgroundElement--17 {
    top: 56.1%;
    right: -170px;
    width: 481px;
    height: 516px;
    transform: rotateY(180deg);
}

.journalBackgroundElement--18 {
    top: 60.6%;
    right: 160px;
    width: 371px;
    height: 76px;
}

.journalBackgroundElement--19 {
    top: 63.2%;
    left: 0;
    width: 285px;
    height: 228px;
}

.journalBackgroundElement--20 {
    top: 66.7%;
    left: -163px;
    width: 350px;
    height: 380px;
}

.journalBackgroundElement--21 {
    top: 72.7%;
    left: 45px;
    width: 172px;
    height: 160px;
}

.journalBackgroundElement--22 {
    top: 76%;
    left: -245px;
    width: 481px;
    height: 516px;
    transform: rotateY(180deg) rotate(110deg);
}

.journalBackgroundElement--23 {
    top: 76%;
    right: 0px;
    width: 207px;
    height: 134px;
}

.journalBackgroundElement--24 {
    top: 79.5%;
    right: -515px;
    width: 664px;
    height: 736px;
}

.journalBackgroundElement--25 {
    right: 13px;
    bottom: 464px;
    width: 222px;
    height: 323px;
}

@media screen and (max-width: 800px) {
    #journalTitleBox {
        padding-bottom: calc(386px * 0.15);
    }

    #journalTitleBox::before {
        bottom: calc(-386px * 0.05);
        width: calc(291px * 0.4);
        height: calc(386px * 0.4);
    }

    #journalTitleBox::after {
        top: auto;
        bottom: calc(-274px * 0.125);
        width: calc(289px * 0.4);
        height: calc(274px * 0.4);
    }

    #journalOriginalLinkList {
        position: static;
        text-align: right;
    }

    .journalContentLeft, .journalContentImageLeft, .journalContentRight, .journalContentImageRight {
        float: none;
        margin: 0 auto;
        width: 90%;
    }
    
    .journalContentSubImage {
        position: static;
        margin: 0 auto;
        width: 90%;
    }
}