.xz-navbar .nav > li {
    margin-top: 3.5px;
    width: 126px;
    height: 43px;
    background: url(./images/button.png);
    background-size: 100% 200%;
    text-align: center;
}

.xz-navbar .nav > li:hover {
    background-position-y: bottom;
}

.xz-navbar .nav > li a {
    display: block;
    color: #fff;
    line-height: 18px;
}

.xz-infotable-block {
    margin: 0 auto;
}

.infoTableTitle {
    font-size: 2em;
    line-height: 1.8em;
}

.infoTable > tbody > tr > th:first-child {
    width: 40%;
    text-align: right;
}

.infoTable > tbody > tr > td:last-child {
    width: 60%;
    text-align: left;
}

.infoTable > tbody > tr > td.infoTableImage {
    text-align: center;
}

.infoTable > tbody > tr > th.infoTableFoot {
    text-align: center;
}

.roomItem > span {
    margin-right: 0.5em;
    border-bottom: 1px dotted #FFF;
}

.mapFullBox {
    overflow: auto hidden;
    margin: 0 auto;
    max-width: 100%;
}

.mapFull {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
}

.map {
    position: absolute;
    display: flex;
    background: rgba(128, 128, 128, 0.1);
    text-align: center;
    align-items: center;
}

.map > span {
    width: 100%;
}

.mapHighlight {
    background: rgba(255, 255, 128, 0.5);
    color: #000;
    font-weight: bold;
}

.mapCode {
    float: right;
    overflow-y: auto;
    margin: 0;
    width: 150px;
    background: #000;
}

.mapCode:before {
    display: block;
    margin-left: -1.66em;
    width: calc(100% + 1.66em);
    content: "图例";
    text-align: center;
    font-weight: bold;
}

.ghostBox {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #000;
}

.ghostPhotoBox {
    position: relative;
    margin-bottom: 1em;
    height: 64px;
}

div.ghostPhoto {
    position: absolute;
    width: 64px;
    height: 64px;
    background: url(./images/ghostsDex.png);
}

div.ghostPhoto:first-child {
    left: calc(20% - 51.2px);
}

div.ghostPhoto:nth-child(2) {
    left: calc(40% - 38.4px);
}

div.ghostPhoto:nth-child(3) {
    left: calc(60% - 25.6px);
}

div.ghostPhoto:nth-child(4) {
    left: calc(80% - 12.8px);
}

span.ghostPhoto {
    display: block;
    width: 256px;
    height: 64px;
    background: url(./images/ghostsDex.png);
}

.ghostTitle {
    margin-bottom: -1em;
    font-size: 0.8em;
    line-height: 1em;
}

.ghostName {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.5em;
}

.ghostAge {
    margin-top: -1em;
    text-align: right;
    font-size: 0.8em;
    line-height: 1em;
}

.prevNextBox {
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-color: var(--color-warm-dark);
    border-style: double;
    border-width: 3px 0;
}

.prevNextBox > div {
    display: table-cell;
    width: calc(100% / 3);
    text-align: center;
}

.selfBox {
    border-color: var(--color-warm-dark);
    border-style: dashed;
    border-width: 0 1px;
}

.prevBox > *:first-child:before {
    float: left;
    display: block;
    content: "\2190";
}

.nextBox > *:last-child:after {
    float: right;
    display: block;
    content: "\2192";
}

@media screen and (min-width: 992px) {
    .xz-infotable-block {
        float: right;
        margin-left: 1rem;
        width: 30%;
    }
}