:root {
    --color-left-block: #628BD6;
    --color-left-block-light: #A5BDEB;
    --color-left-block-dark: #20468B;
    --color-content: #EEB4EA;
    --color-content-light: #F7D5F4;
    --color-content-dark: #9B3B93;
}

body {
    background-image: url(images/background.png);
    color: #FFF;
}

#header {
    position: relative;
    width: 100%;
    height: 168px;
    background-image: url(images/header.png);
    background-repeat: repeat-x;
    filter: drop-shadow(0 0 5px #FFFFFF);
}

#headerLogo {
    position: absolute;
    top: 20px;
    left: calc(50% - 600px);
    display: block;
    width: 300px;
    height: 128px;
    background-image: url(./images/logo.png);
    background-position: -128px -64px;
}

#headerLogo:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 67px;
    height: 128px;
    background-image: url(./images/logo2.png);
    content: "";
}

#headerLogo:hover {
    text-decoration: none;
}

#headerLink {
    position: absolute;
    top: 59px;
    left: calc(50% - 10.5px);
    margin: 0;
    padding: 0;
    width: 378px;
    height: 43px;
    list-style: none;
}

#headerLink:after {
    clear: both;
    display: block;
    content: '';
}

#headerLink li {
    float: left;
    width: 126px;
    height: 43px;
    background: url(./images/button.png);
    background-size: 100% 200%;
    text-align: center;
    line-height: 45px;
}

#headerLink li:hover {
    background-position-y: bottom;
}

#headerLink li a {
    color: var(--color-content-light);
}

#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1200px;
}

#references {
    clear: right;
    margin-left: 50%;
    padding-right: 1em;
    max-width: 600px;
    color: #888;
    text-align: right;
}

#references:before {
    content: '参考资料：';
}

#footer {
    position: relative;
    margin: 0;
    margin-top: 26px;
    padding-top: 26px;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0;
    background-color: #000;
}

#footer:before {
    position: absolute;
    top: -26px;
    left: 0;
    display: block;
    width: 100%;
    height: 58px;
    background: url(./images/footer.png) repeat-x;
    content: "";
}

.num {
    display: inline-block;
    width: 28px;
    height: 32px;
    background-image: url(./images/number.png);
    background-position-x: -480px;
}

.num-0 {
    background-position-x: -2px;
}

.num-1 {
    background-position-x: -34px;
}

.num-2 {
    background-position-x: -66px;
}

.num-3 {
    background-position-x: -98px;
}

.num-4 {
    background-position-x: -130px;
}

.num-5 {
    background-position-x: -162px;
}

.num-6 {
    background-position-x: -194px;
}

.num-7 {
    background-position-x: -226px;
}

.num-8 {
    background-position-x: -258px;
}

.num-9 {
    background-position-x: -290px;
}

.num-x {
    background-position-x: -354px;
}

.num-- {
    background-position-x: -418px;
}

.num-w {
    background-position-x: -450px;
}

#content .infoTable {
    float: right;
    margin-left: 1em;
    width: 40%;
    min-width: 300px;
}

.infoTableTitle {
    font-size: 2em;
    line-height: 1.8em;
}

.infoTable > tbody > tr > th:first-child {
    width: 40%;
    text-align: right;
}

.infoTable > tbody > tr > td:last-child {
    width: 60%;
    text-align: left;
}

.infoTable > tbody > tr > td.infoTableImage {
    text-align: center;
}

.infoTable > tbody > tr > th.infoTableFoot {
    text-align: center;
}

.mapFullBox {
    overflow: auto hidden;
    max-width: 100%;
    margin: 0 auto;
}

.mapFull {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
}

.map {
    position: absolute;
    display: flex;
    background: rgba(128, 128, 128, 0.1);
    text-align: center;
    align-items: center;
}

.map > span {
    width: 100%;
}

.mapHighlight {
    background: rgba(255, 255, 128, 0.5);
    font-weight: bold;
    color: #000;
}

.mapCode {
    width: 150px;
    overflow-y: auto;
    float: right;
    margin: 0;
    background: #000;
}

.mapCode:before {
    display: block;
    margin-left: -1.66em;
    width: calc(100% + 1.66em);
    text-align: center;
    content: "图例";
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #content .infoTable {
        float: none;
    }
}

@media screen and (max-width: 1200px) {
    #headerLogo {
        left: 0;
    }
    
    #refrences {
        margin-left: calc(100% - 600px);
    }
}

@media screen and (max-width: 734px) {
    #headerLogo {
        left: calc(50% - 150px);
    }

    #headerLink {
        position: static;
        margin: 0 auto;
        height: auto;
    }

    #header {
        padding-top: 148px;
        height: auto;
    }
}

@media screen and (max-width: 599px) {
    #refrences {
        margin-left: 0;
    }
}

@media screen and (max-width: 377px) {
    #headerLink {
        width: 252px;
    }
}

@media screen and (max-width: 251px) {
    #headerLink {
        width: 126px;
    }
}