:root {
    --color-left-block: #628BD6;
    --color-left-block-light: #A5BDEB;
    --color-left-block-dark: #20468B;
    --color-content: #EEB4EA;
    --color-content-light: #F7D5F4;
    --color-content-dark: #9B3B93;
}

body {
    background-image: url(images/background.png);
    color: #FFF;
}

#header {
    position: relative;
    width: 100%;
    height: 168px;
    background-image: url(images/header.png);
    background-repeat: repeat-x;
    filter: drop-shadow(0 0 5px #FFFFFF);
}

#headerLogo {
    position: absolute;
    top: 20px;
    left: calc(50% - 600px);
    display: block;
    width: 300px;
    height: 128px;
    background-image: url(./images/logo.png);
    background-position: -128px -64px;
}

#headerLogo:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 67px;
    height: 128px;
    background-image: url(./images/logo2.png);
    content: "";
}

#headerLogo:hover {
    text-decoration: none;
}

#headerLink {
    position: absolute;
    top: 41px;
    left: calc(50% - 10.5px);
    margin: 0;
    padding: 0;
    width: 378px;
    height: 86px;
    list-style: none;
}

#headerLink:after {
    clear: both;
    display: block;
    content: '';
}

#headerLink li {
    float: left;
    width: 126px;
    height: 43px;
    background: url(./images/button.png);
    background-size: 100% 200%;
    text-align: center;
    line-height: 45px;
}

#headerLink li:hover {
    background-position-y: bottom;
}

#headerLink li a {
    color: var(--color-content-light);
}

#content {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1200px;
}

#contentComment {
    clear: both;
    filter: drop-shadow(-1px -1px #FFF) drop-shadow(-1px 0 #FFF) drop-shadow(-1px 1px #FFF) drop-shadow(0 -1px #FFF) drop-shadow(0 1px #FFF) drop-shadow(1px -1px #FFF) drop-shadow(1px 0 #FFF) drop-shadow(1px 1px #FFF);
}

#references {
    clear: right;
    margin-left: 50%;
    padding-right: 1em;
    max-width: 600px;
    color: #888;
    text-align: right;
}

#references:before {
    content: '参考资料：';
}

#footer {
    position: relative;
    margin: 0;
    margin-top: 26px;
    padding-top: 26px;
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 0;
    background-color: #000;
}

#footer:before {
    position: absolute;
    top: -26px;
    left: 0;
    display: block;
    width: 100%;
    height: 58px;
    background: url(./images/footer.png) repeat-x;
    content: "";
}

#content .infoTable {
    float: right;
    clear: right;
    margin-left: 1em;
    width: 40%;
    min-width: 300px;
}

.infoTableTitle {
    font-size: 2em;
    line-height: 1.8em;
}

.infoTable > tbody > tr > th:first-child {
    width: 40%;
    text-align: right;
}

.infoTable > tbody > tr > td:last-child {
    width: 60%;
    text-align: left;
}

.infoTable > tbody > tr > td.infoTableImage {
    text-align: center;
}

.infoTable > tbody > tr > th.infoTableFoot {
    text-align: center;
}

.roomItem > span {
    margin-right: 0.5em;
    border-bottom: 1px dotted #FFF;
}

.mapFullBox {
    overflow: auto hidden;
    margin: 0 auto;
    max-width: 100%;
}

.mapFull {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
}

.map {
    position: absolute;
    display: flex;
    background: rgba(128, 128, 128, 0.1);
    text-align: center;
    align-items: center;
}

.map > span {
    width: 100%;
}

.mapHighlight {
    background: rgba(255, 255, 128, 0.5);
    color: #000;
    font-weight: bold;
}

.mapCode {
    float: right;
    overflow-y: auto;
    margin: 0;
    width: 150px;
    background: #000;
}

.mapCode:before {
    display: block;
    margin-left: -1.66em;
    width: calc(100% + 1.66em);
    content: "图例";
    text-align: center;
    font-weight: bold;
}

.ghostBox {
    padding: 1em;
    width: 100%;
    max-width: 400px;
    border: 2px solid #333;
    border-radius: 10px;
    background: #000;
}

.ghostPhotoBox {
    position: relative;
    margin-bottom: 1em;
    height: 64px;
}

div.ghostPhoto {
    position: absolute;
    width: 64px;
    height: 64px;
    background: url(./images/ghostsDex.png);
}

div.ghostPhoto:first-child {
    left: calc(20% - 51.2px);
}

div.ghostPhoto:nth-child(2) {
    left: calc(40% - 38.4px);
}

div.ghostPhoto:nth-child(3) {
    left: calc(60% - 25.6px);
}

div.ghostPhoto:nth-child(4) {
    left: calc(80% - 12.8px);
}

span.ghostPhoto {
    display: block;
    width: 256px;
    height: 64px;
    background: url(./images/ghostsDex.png);
}

.ghostTitle {
    margin-bottom: -1em;
    font-size: 0.8em;
    line-height: 1em;
}

.ghostName {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.5em;
}

.ghostAge {
    margin-top: -1em;
    text-align: right;
    font-size: 0.8em;
    line-height: 1em;
}

.prevNextBox {
    display: table;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-color: var(--color-content-dark);
    border-style: double;
    border-width: 3px 0;
}

.prevNextBox > div {
    display: table-cell;
    width: calc(100% / 3);
    text-align: center;
}

.selfBox {
    border-color: var(--color-content-dark);
    border-style: dashed;
    border-width: 0 1px;
}

.prevBox > *:first-child:before {
    float: left;
    display: block;
    content: "\2190";
}

.nextBox > *:last-child:after {
    float: right;
    display: block;
    content: "\2192";
}

@media screen and (max-width: 600px) {
    #content .infoTable {
        float: none;
    }
}

@media screen and (max-width: 1200px) {
    #headerLogo {
        left: 0;
    }
    
    #refrences {
        margin-left: calc(100% - 600px);
    }
}

@media screen and (max-width: 734px) {
    #headerLogo {
        left: calc(50% - 150px);
    }

    #headerLink {
        position: static;
        margin: 0 auto;
        height: auto;
    }

    #header {
        padding-top: 148px;
        height: auto;
    }
}

@media screen and (max-width: 599px) {
    #refrences {
        margin-left: 0;
    }
}

@media screen and (max-width: 377px) {
    #headerLink {
        width: 252px;
    }
}

@media screen and (max-width: 251px) {
    #headerLink {
        width: 126px;
    }
}